<form [formGroup]="loginForm" class="container" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input formControlName="userName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div>
      @if(loginForm.get('userName')?.invalid && 
                loginForm.get('userName')?.errors && 
            (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched))
            {
                @if(loginForm.get('userName')?.hasError('required')){

                    <small class="text-danger">
                        This field is required.
                    </small>
                }
            }
    </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
      <div>
        @if(loginForm.get('password')?.invalid && 
                  loginForm.get('password')?.errors && 
              (loginForm.get('password')?.dirty || loginForm.get('password')?.touched))
              {
                  @if(loginForm.get('password')?.hasError('required')){
  
                      <small class="text-danger">
                          This field is required.
                      </small>
                  }
              }
      </div>
    </div>
    <button type="submit" type="submit" [disabled]="loginForm.invalid"  type="submit" class="btn btn-primary">Submit</button>
  </form>