<div>
	
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@for (p of products; track p.id; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<!--TODO: change to product model-->
				<td>{{ p.name }}</td>
				<td>{{ p.price }}</td>
				<td><button class="btn btn-secondary" (click)="onEdit(p.id)">Modifier</button></td>
			</tr>
		}
	</tbody>
</table>
<!-- Formulaire d'édition avec une animation de fade -->
@if(editingProduct){
	<div class="d-flex flex-column">
		<h2>Modifier le produit</h2>
		<form [formGroup]="productForm" class="container"  (ngSubmit)="onSubmit(editingProduct.id)">
			<div class="container d-flex flex-column">
				<div class="mb-3" >
					<div class="d-flex flex-column">
						<label for="name" class="form-label">Nom</label>
						<input formControlName="name" type="text" id="name" class="form-control"/>
					</div>
					@if(productForm.get('name')?.invalid && 
							productForm.get('name')?.errors && 
						(productForm.get('name')?.dirty || productForm.get('name')?.touched))
					{
						@if(productForm.get('name')?.hasError('required')){
							<small class="text-danger">
								This field is required.
							</small>
						}
					}
				</div>

				<div class="mb-3" >
					<div class="d-flex flex-column">
						<label for="description" class="form-label">Description</label>
						<input formControlName="description"  type="text" id="description" class="form-control"/>
					</div>
					@if(productForm.get('description')?.invalid && 
							productForm.get('description')?.errors && 
						(productForm.get('description')?.dirty || productForm.get('description')?.touched))
					{
						@if(productForm.get('description')?.hasError('required')){
							<small class="text-danger">
								This field is required.
							</small>
						}
					}
				</div>

				<div class="mb-3" >
					<div class="d-flex flex-column">
						<label for="price" class="form-label">Prix</label>
						<input formControlName="price" type="text" id="price" class="form-control"/>
					</div>
					@if(productForm.get('price')?.invalid && 
							productForm.get('price')?.errors && 
						(productForm.get('price')?.dirty || productForm.get('price')?.touched))
					{
						@if(productForm.get('price')?.hasError('required')){
							<small class="text-danger">
								This field is required.
							</small>
						}
					}
				</div>
				<div class="mb-3" >
					<div class="d-flex flex-column">
						<label for="category" class="form-label">Catégorie</label>
						
						<select formControlName="category" type="text" id="category" class="form-select">
							@for (cat of categories; track $index) {
								<option [value]="cat">{{cat}}</option>
							}
						</select>
					</div>
					@if(productForm.get('category')?.invalid && 
							productForm.get('category')?.errors && 
						(productForm.get('category')?.dirty || productForm.get('category')?.touched))
					{
						@if(productForm.get('category')?.hasError('required')){
							<small class="text-danger">
								This field is required.
							</small>
						}
					}
				</div>
				

				<div class="mb-3" >
					<div class="d-flex flex-row">
						<label for="isActive" class="form-label">Disponible</label>
						<label class="form-check-label mx-5">
							<input formControlName="isActive" type="radio" [value]="true" class="form-check-input">
							Actif
						  </label>
						  <label class="form-check-label">
							<input formControlName="isActive" type="radio" [value]="false" class="form-check-input">
							Inactif
						  </label>
					</div>
					
				</div>


				<div class="d-flex align-items-end flex-column mb-3">
					<button type="submit" type="submit" [disabled]="productForm.invalid"  type="submit" class="btn btn-sm btn-primary">Sauvegarder</button>
				</div>
			</div>
		</form>
	</div>
}
</div>