<p>Table is just a mapping of objects to table rows with <code>&#64;for</code></p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Date</th>
			<th scope="col">TemperatureC</th>
			<th scope="col">TemperatureF</th>
			<th scope="col">Summary</th>
		</tr>
	</thead>
	<tbody>
		@for (weather of weatherForecast; track weather.date; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ weather.date }}</td>
				<td>{{ weather.temperatureC }}</td>
				<td>{{ weather.temperatureF}}</td>
				<td>{{ weather.summary}}</td>
			</tr>
		}
	</tbody>
</table>