@if(orders && orders.length > 0){
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Status</th>
					@if(displayForArtisan){
						<th scope="col">Client</th>
					}
					@else {
						<th scope="col">Artisan</th>
					}
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@for (o of orders; track o.id; let i = $index) {
					<tr>
						<th scope="row">{{o.id}}</th>
						<!--TODO: change to order model-->
						<td>
							@if (editingDeliveryOrderId === o.id) {
								<form [formGroup]="orderForm">
									<select formControlName="status" type="text" id="status" class="form-select">
									  @for (status of allowedStatuses; track $index) {
										<option [value]="status" [selected]="status === o.activeDelivery?.deliStatus">{{status}}</option>
									  }
									</select>
								  </form>
							}
							@else {
							  {{ o.activeDelivery?.deliStatus || 'NEW' }}
							}
						  </td>
						@if(displayForArtisan){
							<td>{{ o.customerName }}</td>
						}
						@else {
							<td>{{ o.artisanName }}</td>
						}
						
						<td>{{ o.total  | currency:'EUR':'symbol' }}</td>
						<td class="d-flex flex-row justify-content-end">
							@if (editingDeliveryOrderId !== o.id) {
							  <button class="btn btn-secondary mx-2" (click)="onEditDeliveryStatus(o.id)">Modifier le statut</button>
							  @if(orderDetails && detailsId == o.id){
								<button class="btn btn-outline-secondary mx-2" (click)="onHideDetails(o.id)">Cacher les détails</button>
							  }
							  @else {
								<button class="btn btn-outline-secondary mx-2" (click)="onViewDetails(o.id)">Voir les détails</button>
							  }
							} 
							@else {
							  <button class="btn btn-success mx-2" (click)="onSaveDeliveryStatus(o)">Sauvegarder</button>
							  <button class="btn btn-outline-secondary mx-2" (click)="onCancelEdit()">Annuler</button>
							}
						  </td>
					</tr>
				}
			</tbody>
		</table>
		</div>
}
@else {
	Vous n'avez aucune commande actuellement.
}
@if(detailsId){
	<app-order [orderId] = "detailsId"></app-order>
}